div.lido-title {
	font-weight: 700;
}
div.lido-doc {
	margin-left: 2em;
}
div.lido-elem {
	margin-left: 2em;
}
div.lido-elem-doc {
	margin-left: 2em;
}
div.lido-attr {
	margin-left: 2em;
}
div.lido-attr-doc {
	margin-left: 2em;
}